<footer class="text-white flex flex-col items-start justify-center body-font">
  <img src="../../../assets/img/footer-decor.svg" class="w-full" alt="" srcset="">
  <div class="h-44 w-full bg-[#235a58] flex flex-col items-center justify-between">
    <div class="w-full h-full md:px-24 px-[10%] flex items-start justify-start">
      <img src="../../../assets/img/logo-bg.svg" alt="">
      <div class="flex items-start justify-between md:w-full">
        <div class="ml-10 mt-5 flex flex-col items-start justify-start">
          <h1>Project</h1>
          <div class="flex flex-col md:flex-row">
            <a class="text-base font-thin mr-3 cursor-pointer">Docs</a>
            <a class="text-base font-thin mr-3 cursor-pointer">Whitepaper</a>
          </div>
        </div>
        <div class="ml-10 mt-5 flex flex-col items-start justify-start">
          <h1>Social</h1>
          <div class="flex flex-col md:flex-row">
            <a class="text-base font-thin mr-3 cursor-pointer">Twitter</a>
            <a class="text-base font-thin mr-3 cursor-pointer">Discord</a>
            <a class="text-base font-thin mr-3 cursor-pointer">Mirror</a>
          </div>
        </div>
      </div>
    </div>
    <div class="border-t border-white w-full h-10 px-24 flex flex-row-reverse items-center justify-center md:justify-between">
      <h1 class="text-xs opacity-60">Privacy Policy</h1>
    </div>
  </div>
</footer>