<!-- <header class="text-white bg-genki-orange body-font h-12">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-yellow-500 rounded-full" viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <img class="object-cover object-center rounded" alt="hero" src="https://dummyimage.com/720x600">
        <img src="../../../assets/img/header-logo.svg" alt="" class="w-10 h-10 p-2 rounded-full" srcset="">
      </a>
      <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
        <a class="md:mx-0 md:mr-5 mx-3 hover:text-gray-900 cursor-pointer">Docs</a>
        <a class="md:mx-0 md:mr-5 mx-3 hover:text-gray-900 cursor-pointer">Whitepaper</a>
        <a class="md:mx-0 md:mr-5 mx-3 hover:text-gray-900 cursor-pointer">Genki Search</a>
      </nav>
      <button class="inline-flex items-center bg-yellow-500 text-white border-0 py-2 px-6 focus:outline-none hover:bg-yellow-600 rounded text-base mt-4 md:mt-0">Use Genki
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </button>
    </div>
  </header> -->
<app-popup *ngIf="togglePopup.toggleStatus"></app-popup>
<header class="z-10 h-16 md:h-12 md:px-[75px] pr-8 w-full bg-genki-orange flex md:static justify-between items-center">
  <div class="flex items-center justify-start">

    <img src="../../../assets/img/options-logo.svg" class="inline-block md:hidden p-5" (click)="toggleItems()" alt=""
      srcset="">
    <div [ngClass]="{'hidden': !mobileToggle}"
      class="absolute bg-white shadow-black drop-shadow-lg z-30 top-[72px] mx-2 h-40 w-[96%] flex flex-col items-center justify-center">
      <a [href]="Header.Header.AllLinks[0].Link" class="md:inline my-2 text-center text-base text-genki-green-tertiary w-full">
        {{Header.Header.AllLinks[0].Description}}</a>
      <div class="md:hidden inline w-[318px] mx-4 border-t border-solid border-genki-green-secondary"></div>
      <a [href]="Header.Header.AllLinks[1].Link" class="md:inline my-2 text-center text-base text-genki-green-tertiary w-full">
        {{Header.Header.AllLinks[1].Description}}</a>
      <!-- <div class="md:hidden inline w-[318px] mx-4 border-t border-solid border-genki-green-secondary"></div>
      <a [href]="Header.Header.AllLinks[0].Link" class="md:inline my-2 text-center text-base text-genki-green-tertiary w-full">
        {{Header.Header.AllLinks[2].Description}}</a> -->
    </div>

    <a [href]="Header.Header.Logo.Link">
      <img [src]="Header.Header.Logo.ImagePath"
        class="h-16 md:z-20 md:h-min md:origin-top md:overflow-hidden md:mt-16 md:mr-12" alt="">
    </a>

    <a [href]="Header.Header.AllLinks[0].Link" class="hidden md:inline text-base text-white cu">{{Header.Header.AllLinks[0].Description}}</a>
    <div class="hidden md:inline h-7 mx-4 border-l-2 border-solid border-white"></div>
    <a [href]="Header.Header.AllLinks[1].Link" class="hidden md:inline text-base text-white cu">{{Header.Header.AllLinks[1].Description}}</a>
    <!-- <div class="hidden md:inline h-7 mx-4 border-l-2 border-solid border-white"></div>
    <a [href]="Header.Header.AllLinks[2].Link" class="hidden md:inline text-base text-white cu">{{Header.Header.AllLinks[2].Description}}</a> -->

  </div>
  <a [href]="Header.Header.Button.Link">
    <button class="group h-8 border border-white bg-white text-genki-orange hover:bg-gray-100 flex items-center rounded justify-center px-6">
      <h1>{{Header.Header.Button.Title}}</h1>
      <img src="../../../assets/img/right-arrow.svg" alt="" srcset="" class="ml-3">
    </button>
  </a>
</header>
