<section class="text-gray-600 body-font">
    <div class="container px-[10%] md:px-40 py-24 mx-auto">
      <div class="flex flex-col text-center w-auto mb-20">
        <h1 class="text-4xl font-medium title-font mb-4 text-genki-green-secondary">Genki Friends</h1>
      </div>
      <div class="flex flex-wrap items-center justify-center -m-4">
        <div class="p-4 lg:w-1/4 md:w-1/2">
          <div class="h-full flex flex-col items-center text-center">
            <img alt="team" class="flex-shrink-0 rounded-lg w-auto h-24 object-cover object-center mb-4" src="../../../assets/img/avax.png">
            <!-- <div class="w-auto">
              <h2 class="title-font font-medium text-lg text-gray-900">Uniswap</h2>
              <h3 class="text-gray-500 mb-3">DeFi DApp</h3>
              <p class="mb-4">Uniswap is a token swap protocol on ETH/MATIC and various other layer 2</p>
            
            </div> -->
          </div>
        </div>
        <div class="p-4 lg:w-1/4 md:w-1/2">
          <div class="h-full flex flex-col items-center text-center">
            <img alt="team" class="flex-shrink-0 rounded-lg w-auto h-24 object-cover object-center mb-4" src="../../../assets/img/bnb.png">
            <!-- <div class="w-auto">
              <h2 class="title-font font-medium text-lg text-gray-900">Uniswap</h2>
              <h3 class="text-gray-500 mb-3">DeFi DApp</h3>
              <p class="mb-4">Uniswap is a token swap protocol on ETH/MATIC and various other layer 2</p>
            </div> -->
          </div>
        </div>
        <div class="p-4 lg:w-1/4 md:w-1/2">
          <div class="h-full flex flex-col items-center text-center">
            <img alt="team" class="flex-shrink-0 rounded-lg w-auto h-24 object-cover object-center mb-4" src="../../../assets/img/eth.png">
            <!-- <div class="w-auto">
              <h2 class="title-font font-medium text-lg text-gray-900">Uniswap</h2>
              <h3 class="text-gray-500 mb-3">DeFi DApp</h3>
              <p class="mb-4">Uniswap is a token swap protocol on ETH/MATIC and various other layer 2</p>
              
            </div> -->
          </div>
        </div>
        <div class="p-4 lg:w-1/4 md:w-1/2">
          <div class="h-full flex flex-col items-center text-center">
            <img alt="team" class="flex-shrink-0 rounded-lg w-auto h-24 object-cover object-center mb-4" src="../../../assets/img/ftm.png">
            <!-- <div class="w-auto">
              <h2 class="title-font font-medium text-lg text-gray-900">Uniswap</h2>
              <h3 class="text-gray-500 mb-3">DeFi DApp</h3>
              <p class="mb-4">Uniswap is a token swap protocol on ETH/MATIC and various other layer 2</p>
              
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>