<div (click)="togglePopup.toggle()" class="bg-black bg-opacity-70 flex items-center justify-center w-screen h-screen z-40 fixed">
    <div (click)="noPopup($event)" class="bg-white relative w-1/2 p-10 opacity-100 h-1/2 z-50 flex flex-col items-center justify-center">
        <div (click)="togglePopup.toggle()" class="absolute cursor-pointer text-genki-green-primary text-xl right-3 top-1">X</div>
        <h1 class="text-3xl font-bold text-genki-green-primary">We're currently building the Genki App!</h1>
        <h2 class="text-sm text-genki-green-secondary">Meanwhile, feel free to let us remind you to be an early member, and get <b>Discounts!</b></h2>
        <label class="text-genki-green-tertiary w-full mt-10 mb-1 text-xs" for="email">Enter your mail:</label>
        <input class="w-full h-10 bg-gray-100" type="email" id="email" name="email">
        <button class="mt-10 h-12 w-44 text-base items-center justify-center inline-flex text-white bg-genki-red-primary border-0 focus:outline-none hover:bg-[#FFF8EC] hover:text-[#F96F58] hover:border hover:border-[#F96F58] ease-in-out rounded">Submit!</button>
    </div>
</div>